obj
bin
packages/*
packaging/*
packages/PostSharp.*/*
packages/PostSharp.*/tools/*
_ReSharper.*
*sln.DotSettings.*
*.csproj.user
*.resharper
*.resharper.user
*.suo
*.cache
*.swp

!packaging
!packages/PostSharp*/
!packages/PostSharp*/tools/
!packages/PostSharp*/tools/PostSharp.targets
!packages/PostSharp*/tools/PostSharp.tasks
!packages/PostSharp*/tools/*.rtf
!packages/PostSharp*/tools/*.ps1
!packaging/ViewModeler.nuspec